.mainFrame{
    background-image: url("./src/assets/mainBackground.png");
    background-repeat: no-repeat;
    background-size:cover;

    display: flex;
    flex-direction: column;

    width: 60%;
    height: 100%
}

.rudaRow{
    display: flex;
    height: 50%;
}